.app{
  display: grid;
  place-items: center;    
  background-color: #dadbd3;
  height: 100vh;
}
.app_body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

.not-active-chat{
  flex: 0.65;    
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
  /* flex: 1; */
    /* background-position: center; */
    padding: 30px;
    overflow:scroll;
}

.not-active-chat-div > center > h3{
  color: rgb(120, 113, 113);
  font-size: 25px;
  padding-bottom: 10px;
}

.not-active-chat-div > span{
  padding-bottom: 8px;
}

.not-active-chat-div > center > div > img{
  height: 40%;
  width: 40%;
}